body
{
background-color:#a9f04b;
}

h1
{
  font-family: 'Arial', sans-serif;
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}

#score
{
  font-size:35px;
  margin-left: 20px;
}

#time
{
  font-size:35px;
  float: right;
  margin-right: 200px;
}

#sketchName
{
  color:red;
}